<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Mode : <%= mode %></p>
    <p>Debug : <%= debug %></p>
    <p>TODO-ID : <%= result[0].ID %></p>
    <p>TODO-Name : <%= result[0].Name %></p>
  </body>
</html>
